$main-background-color: #212121;
$main-foreground-color: #f5f5f5;

// $input-color: #b00b00;
// $input-color: #c0ffee;
// $input-color: #de1e7e;

$font-size: 1.6em;
$label-size: 1em;
$icon-size: 1em;
$input-color: #bada55;
$disabled-color: #989898;

body {
  background-color: $main-background-color;
  color: $main-foreground-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: $font-size;

  main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > div {
      margin-top: 30px;
      min-width: 300px;
    }
  }

  input[type="checkbox"]:not(#original) {
    opacity: 0;

    & + label {
      // background-color: dimgray;
      display: inline-flex;
      align-items: center;
      font-size: $label-size;
      line-height: 1.5;
      user-select: none;
      position: relative;
      padding-left: $icon-size * 1.2;
      transition: color 0.4s;

      &::before,
      &::after {
        // background-color: tomato;
        font-family: "Material Icons", Verdana, Geneva, Tahoma, sans-serif;
        font-size: $icon-size;
        position: absolute;
        left: 0;
        transition: opacity 0.4s;
      }

      &::before {
        content: "\e834";
        color: $input-color;
      }

      &::after {
        content: "\e835";
      }
    }

    &:checked + label {
      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 0;
      }
    }

    &:not(:checked) + label {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }

    &:disabled {
      & + label,
      & + label::before,
      & + label::after {
        color: $disabled-color;
        cursor: not-allowed;
      }
    }
  }
}
